# Ignore Mac files
.DS_Store
.AppleDouble
.LSOverride

# Ignore CodeIgniter files
/system/
/writable/
/portfolio/writable
/vendor/
/node_modules/
.env

# Ignore .htaccess
.htaccess
portfolio/public/.htaccess
.vscode/settings.json
